<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">A Tech Blog</h1>
            <p class="lead">A blog focused on tech information </p>
        </div>
    </div>
    <nav class="nav">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Dashboard</a>
        <a class="nav-link" href="#">Logout</a>
    </nav>

    {{{body}}}
    
</body>

</html>