<div class="container">
    <h2 class="mt-3"> Selected Post </h2>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{title}} {{user.username}}</h5>
            <p class="card-text">{{content}}</p>
        </div>
    </div>
</div>